* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}


body {
    min-height: 1000px;
    width: 100%;
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1110px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 25px;
    font-weight:800;
    float:left;
    font-family: montserrat;
    color: #2D454F;   
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color:black;
    font-weight: bold;
    text-align: center;
    padding: 0px 30px 0px 30px;
    text-decoration: none;
}
nav ul li a:hover {
    border-bottom: 5px solid #2D454F;
    transition: all .3s ease;
}

section {
    margin-top: auto;
    display: flex;
    margin-bottom: 50px;
}


.kolom {
    margin-top: 80px;
    margin-bottom: 50px;
}

.kolom .Deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #364f6b;
}




h2 {
    font-family: 'times';
    font-weight: 800px;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
    
}

.tengah {
    text-align: center;
    width: 100%;
}

.center {
    text-align: left;
    margin-left: 200px;
    
}




